<div id="<%= dom_id recipe %>">
  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Prep time hours:</strong>
    <%= recipe.prep_time_hours %>
  </p>

  <p>
    <strong>Prep time minutes:</strong>
    <%= recipe.prep_time_minutes %>
  </p>

  <p>
    <strong>Cook time hours:</strong>
    <%= recipe.cook_time_hours %>
  </p>

  <p>
    <strong>Cook time minutes:</strong>
    <%= recipe.cook_time_minutes %>
  </p>

  <p>
    <strong>Serving size:</strong>
    <%= recipe.serving_size %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Instruction video:</strong>
    <%= recipe.instruction_video %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= recipe.short_description %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= recipe.instructions %>
  </p>

</div>
